/venv/

db.sqlite3

shop/__pycache__/

core/__pycache__/

core/migrations/__pycache__/

.idea/

core/migrations/

media/

venv_linux/

*.vpp

*.zip

static/admin/

static/ckeditor/

static/django_extensions/

__pycache__/
