{% load static %}


{% block styles %}
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
{% endblock %}

<div class="footer-wrapper">
    <div class="footer-block">
        <ul class="footer-actions">
            <li class="footer-actions__item">
                <a href="#" class="footer-actions__item-link text--brownAndWhite-outlined">Помощь и информация</a>
            </li>
            <li class="footer-actions__item">
                <a href="#" class="footer-actions__item-link text--brownAndWhite-outlined">Доставка и оплата</a>
            </li>
            <li class="footer-actions__item">
                <a href="#" class="footer-actions__item-link text--brownAndWhite-outlined">Справка</a>
            </li>
            <li class="footer-actions__item">
                <a href="#" class="footer-actions__item-link text--brownAndWhite-outlined">О нас</a>
            </li>
            <li class="footer-actions__item">
                <a href="#" class="footer-actions__item-link text--brownAndWhite-outlined">Блог</a>
            </li>
            <li class="footer-actions__item">
                <a href="#" class="footer-actions__item-link text--brownAndWhite-outlined">Категории</a>
            </li>
        </ul>
    </div>
    <div class="footer-wrapper__background-circle footer-wrapper__background-circle-left"></div>
    <div class="footer-wrapper__background-circle footer-wrapper__background-circle-right"></div>
</div>
