{% extends 'base.html' %}
{% load static %}


{% block title %}
    Скидки
{% endblock %}

{% block styles %}
    <link href="{% static 'css/category_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content_type-products">

        <div class="page-header">
            <h1 class="text__page-header">
                СКИДКИ
            </h1>
        </div>

        <div class="products__slider-container"></div>
        <div class="products__content-section">
            <div class="products-container">

                {% if not category_products %}

                    <h2>Товаров со скидкой нет</h2>

                {% elif category_products %}

                    <div class="products-container__card-wrapper">


                        {% for product in category_products %}
                            <div class="products__card">

                                <div class="products__card-background">
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{{ product.get_main_img.url }}" alt="">
                                    </a>
                                </div>
                                <div class="products__card-body">
                                    <a href="{{ product.get_absolute_url }}">
                                        <div class="products__card-body-header">
                                            <h3>{{ product.title }}</h3>
                                        </div>
                                    </a>
                                    <div class="products__card-body-price-container">
                                        {% if product.discount_price %}
                                            <p class="product-price--discount text--red"><del>{{ product.discount_price }}</del></p>
                                            <p class="product-price">{{ product.price }}</p>
                                        {% else %}
                                            <p class="product-price">{{ product.price }}</p>
                                        {% endif %}
                                    </div>
                                    <a href="{% url 'add_to_cart' category=product.category.slug slug=product.slug %}">
                                        <button class="update-cart products__card-body__buy-button text--brown-outlined" data-goods_id="{{ product.id }}" data-action="addToCart">В корзину</button>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    {% include 'include/pagination.html' %}

                {% endif %}
            </div>
        </div>

        <div class="background-circle--top"></div>
        <div class="background-circle--bottom"></div>

    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static 'js/category_detail.js' %}"></script>
{% endblock %}
